.calendar{
    height: 100%;
    width: 700px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 25px -15px black;

    .header{
        width: 100%;
        height: 40px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        div{
            width: 40%;
            text-align: center;
        }
        span {
            font-weight: bold;
            color: black;
            font-size: 20px;
            cursor: pointer;
        }

        i{
            //padding: 5px;
            cursor: pointer;
            color: black;
            width: 20px;
            height: 20px;
            align-self: center;
            justify-content: center;
            display: flex;
            border-radius: 50px;
        }
        i:first-child{
            padding: 8px 8px 6px 6px;
        }
        .fa-angle-right{
            padding: 8px 6px 6px 8px;
        }
        i:hover{
            color: white;
            background-color: #f4511e;
        }
    }
    .month_container{
        margin-top: 10px;
        
        .month_names{
            display: flex;
            justify-content: space-around;
            padding: 1.5%;
            flex-wrap: wrap;

            .month_name{
                flex: 1 0 calc(25% - 30px);
                display: flex;
                justify-content: center;
                margin: 15px 5px 15px 5px;
                padding: 10px 10px;
                cursor: pointer;

                span{
                    font-size: 20px;
                }
            }
            .month_name:hover{
                color: white !important;
                background-color: #f4511e !important;
                border-radius: 50px !important;
                box-shadow: 0 0 0px 3px #f4511e;
            }
            .today_month{
                color: white !important;
                background-color: #f4511e !important;
                border-radius: 50px !important;
            }
        }
    }
}
.week{
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    flex-wrap: wrap;

    .week_name{
        color: #a2a2a2;
        flex: 1 0 13%;
        justify-content: center;
        display: flex;
    }
}
.day_number{
    width: 45px;
    height: 45px;
    padding: 1% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}
.before, .after{
    color: #a2a2a2
}
.day_number:hover{
    color: white;
    background-color: #f4511e;
    border-radius: 50px;
    box-shadow: 0 0 0px 3px #f4511e;
}

.today{
    color: white;
    background-color: #f4511e;
    border-radius: 50px;
}
.today_before_after{
    border: 1px solid #f4511e;
    padding: 0px;
    border-radius: 50px;
}
.week_flex{
    flex: 1 0 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 800px){
    .calendar{
        width: 540px;
    }
}

@media screen and (max-width: 420px){
    .day_number{
        margin-bottom: 5px;
        padding: 0;
        width: 35px;
        height: 35px;
    }
    .day_number:hover{
        box-shadow: 0 0 0px 0px #f4511e;
    }
    .header span{
        width: 50% !important;
    }
}