<div class="calendar">
    <div class="header">
        <i class="fa fa-angle-left" (click)="previous()"></i>
        <div>
            <span id="title" (click)="change()">{{DisMnth | translate}} {{DisYear}} {{DisDecade}}</span>
        </div>
        <i class="fa fa-angle-right" (click)="next()"></i>
    </div>
    <!-- dgeebi -->
    <div class="month_container" *ngIf="StateOn === 'StateDay'">
        <div class="week">
            <div *ngFor="let day of Days" class="week_name">
                <span class="day">{{day | translate}}</span>
            </div>
        </div>
        <div class="day_numbers">
            <div class="week">
                
                <div *ngFor="let numb of Before_month" class="week_flex">
                    <div [ngClass]="{'today_before_after': (numb == todayNumber && todayMonth+1 == Month && todayYear == Year)}" class="day_number before">
                        <span class="day">{{numb}}</span>
                    </div>
                </div>
                
                <div *ngFor="let numb of Month_numbers" class="week_flex">
                    <div [ngClass]="{'today': (numb == todayNumber && todayMonth == Month && todayYear == Year)}" class="day_number">
                        <span class="day">{{numb}}</span>
                    </div>
                </div>

                <div *ngFor="let numb of After_month" class="week_flex">
                    <div [ngClass]="{'today_before_after': (numb == todayNumber && todayMonth-1 == Month && todayYear == Year)}" class="day_number after">
                        <span class="day">{{numb}}</span>
                    </div>
                </div>

            </div>
        </div>
    
    </div>
    <!-- tveebi -->
    <div class="month_container" *ngIf="StateOn === 'StateMonth'">
        <div class="month_names">
            <div class="month_name" *ngFor="let mon of Months" [ngClass]="{'today_month': mon == Months[Month]}">
                <span>{{mon | translate}}</span>
            </div>
        </div>
    </div>
    <!-- wlebi -->
    <div class="month_container" *ngIf="StateOn === 'StateYear'">
        <div class="year_numbers">
            <div class="year" *ngFor="let yr of Year_numbers" [ngClass]="{'today_month': yr == Year}">
                <span>{{yr}}</span>
            </div>
        </div>
    </div>
    
</div>